
:global(.vtex-stack-layout-0-x-stackItem--product) {min-height: auto!important;}
:global(.vtex-store-link-0-x-label--footer){white-space: nowrap!important;width: fit-content!important;font-style: normal;font-weight: 500;font-size: 16px; line-height: 22px;text-align: right;font-family: Open Sans,sans-serif;color: #fff;}
:global(.vtex-store-link-0-x-link--footer){    text-decoration: none;}
:global(.vtex-store-components-3-x-imageElement--FooterColsocialImg){height:25px;}

@media (min-width: 1200px)
{
 :global(.vtex-category-menu-2-x-section--category){ max-width: 1188px;margin: auto;margin-top: 0px;}
 :global(.vtex-category-menu-2-x-itemContainer--category){min-height: 270px!important;}

 :global(.vtex-category-menu-2-x-departmentList)
 :global(.vtex-category-menu-2-x-itemContainer):nth-child(3)
 :global(.vtex-category-menu-2-x-section--category){max-width: 870px;}

 :global(.vtex-category-menu-2-x-departmentList)
 :global(.vtex-category-menu-2-x-itemContainer):nth-child(4)
 :global(.vtex-category-menu-2-x-section--category){max-width: 504px;}

 :global(.vtex-category-menu-2-x-departmentList)
 :global(.vtex-category-menu-2-x-itemContainer):nth-child(5)
 :global(.vtex-category-menu-2-x-section--category){max-width: 658px;padding-left: 260px;}

}
