@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

.container {
  width: 315px;
  border-radius: 8px;
  background-color: #fff;
  padding: 0px 15px;
  height: 530px;
  border: 1px solid rgb(224, 224, 224);
}

.container:hover {
  border: 1px solid rgb(0, 70, 192);
}

.element :global(.vtex-button) {
  background-color: transparent !important;
  border: 1px solid #0046C0;
}

.element :global(.vtex-button__label) {
  color: #0046C0;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600
}
.nameContainer{
  padding-bottom: 0px;
}


@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.productBrand {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

.brandName {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

