.itemContainer--category{
    max-height: unset !important;
    min-height: 425px;
    align-items: flex-start;
}
.submenuList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.itemContainer:first-child .submenuList{
    align-items: flex-start;
    flex-direction: row;
    justify-content: start;
}
.section--category{
    margin-left: 7%;
}
