@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.departmentLink {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000;
}
.itemContainer--category{
    max-height: unset !important;
    min-height: 425px;
    align-items: flex-start;
}
.submenuList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.itemContainer:first-child .submenuList{
    align-items: flex-start;
    flex-direction:column;
    justify-content: start;
}
.section--category{
    margin-left: 7%;
}
.departmentLink::after{
    width: 11px;
    content: " ";
    height: 7px;
    display: block;
    background-image: url(assets/header/seta.svg);
    background-size: cover;
}
.departmentLink{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.departmentLink{
  border-bottom: none;
}
.departmentLink:focus{
    text-decoration:none !important;
    outline: none !important;
}
.secondLevelLink:hover,.secondLevelLink:focus, .firstLevelLink:hover, .firstLevelLink:focus {
  text-decoration:none !important;
  outline: none !important;
  font-weight: bold;
}

.secondLevelLink{
  display: none;
}
/*.itemContainer--category {
  display: none !important;
}*/
.itemContainer--department:first-child{
  display:none;
}
